@import "custom";
@import "~bootstrap/scss/bootstrap";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #4267b2;
}

.bg-gradient-primary {
  background-color: #4267b2 !important; 
  background: #4267b2 !important; 
}

.navbar-primary {
  margin-bottom: 10px;


  .navbar-brand {
    color: #ffffff;
  }
}

/* Custom page CSS
-------------------------------------------------- */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.eth-address, {
  color: #d0d0d0;
  font-size: 0.6em;
}

.card-subtitle {
  color: #d0d0d0;
}

.card-profile {
  max-width: 100%;
  margin-bottom: 20px;
}